body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  line-height: 1.6;
}
.header {
  background-color: #292929;
  color: white;
  text-align: center;
  padding: 1em;
}
.header img {
  max-height: 100px;
}
.nav {
  display: flex;
  justify-content: center;
  background-color: #1b1b1b;
  font-size: 1.1em;
}

.nav a {
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.nav a:hover {
  background-color: #4a4a4a;
}
.content {
  padding: 20px;
  text-align: center;
}
.footer {
  background-color: #292929;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 0.9em;
}

.footer p {
  margin: 5px 0;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}
th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #3240da;
  color: white;
  font-size: 16px;
}
td {
  font-size: 14px;
}
tr:hover {
  background-color: #d3d3d3; /* This should apply to all rows */
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}
.rank {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
  }

  .nav {
    flex-direction: column;
    align-items: center;
  }

  .nav a {
    display: block;
    text-align: center;
    padding: 8px 0;
    width: 100%;
  }

  th,
  td {
    padding: 8px 4px; /* Reduce padding */
    font-size: 12px; /* Smaller font size */
    word-break: break-word; /* Break words in cells */
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
